.add-comment.form
  %h2 Add a comment
  = form_for([@post, @post.comments.build]) do |f|
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :body
      = f.text_area :body, class: "resize-v"
    = f.submit