.form
  = form_for([@post, comment], remote: true) do |f|
    = render 'shared/error_messages', obj: f.object
    .field
      = f.label :body
      = f.text_area :body, class: "resize-v", rows: "2", placeholder: "Comment body"
    = f.submit