.row.edit
  .container.responsive
    %h1.page-title Log in
    .form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label "Email or username"
          = f.text_field :login, autofocus: true, placeholder: "Email or username"
        .field
          = f.label :password
          = f.password_field :password, autocomplete: "off", placeholder: "Password"
        - if devise_mapping.rememberable?
          .field.checkbox
            = f.label :remember_me
            = f.check_box :remember_me
        .actions
          = f.submit "Log in"
      = render "devise/shared/links"