.form
  = form_for @post do |f|
    = render 'shared/error_messages', obj: f.object
    .field
      = f.label :title
      = f.text_field :title, placeholder: "Post title", autofocus: true
    .field
      = f.label :body
      = f.text_area :body, class: "resize-v", rows: "4", placeholder: "Post body"
    = f.submit