.form
  = form_for @post do |f|
    = render 'shared/error_messages', obj: f.object
    .field
      = f.label :title
      = f.text_field :title, placeholder: "Post title", autofocus: true
    .field#mde1
      = f.label :body
      - if Rails.env.test?
        = f.text_area :body, class: "resize-v", rows: "6", placeholder: "Post body"
      - else
        = f.text_area :body, class: "markdown-editor resize-v", "data-mdeditor-type": "post", rows: "6", placeholder: "Post body"
    = f.submit