.form
  = form_for @post do |f|
    - if @post.errors.any?
      .errors
        %h2
          = pluralize(@post.errors.count, "error")
          prevented this post from saving
        %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg
    %p
      = f.label :title
      = f.text_field :title, placeholder: "Post title", autofocus: true
    %p
      = f.label :body
      = f.text_area :body, class: "resize-v", rows: "4", placeholder: "Post body"
    = f.submit