.form
  = form_for @post do |f|
    - if @post.errors.any?
      .errors.alert.fade.in
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
        %h2
          = pluralize(@post.errors.count, "error")
          prevented this post from being saved:
        %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :title
      = f.text_field :title, placeholder: "Post title", autofocus: true
    .field
      = f.label :body
      = f.text_area :body, class: "resize-v", rows: "4", placeholder: "Post body"
    = f.submit