.row.show
  .container.responsive
    .col-md-12.well
      %h1.title= @post.title
      %p.date
        Posted
        = time_ago_in_words(@post.created_at)
        ago by
        = @post.user.email
      %p.body= @post.body
      - if user_signed_in? && @post.user == current_user
        .buttons
          = link_to "Edit", edit_post_path(@post), class: "btn my-btn"
          = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn my-btn-danger"
    .col-md-12.well
      %h2= pluralize(@post.comments.count, "comment")
      = render @post.comments
      .add-comment
        %h2 Add a comment
        = render 'comments/form'