!!! 5
%html
  %head
    %title BetterBlog
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #sidebar
      #logo
        = link_to root_path do
          = image_tag "jk-logo-black.png", class: "img-responsive"
      %ul
        %li.category Website
        %li= link_to "Blog", root_path
        %li= link_to "About", about_path
      %ul
        %li.category Social
        %li
          %a{href: "http://www.facebook.com/jonaszkadzielapl", target: "_blank"} Facebook
        %li
          %a{href: "http://www.linkedin.com/in/jonaszkadziela", target: "_blank"} LinkedIn
        %li
          %a{href: "https://github.com/jonaszkadziela", target: "_blank"} GitHub
        %li
          %a{href: "http://www.youtube.com/channel/UCRGptWGCh-CsEEKVOFn_uwg", target: "_blank"} YouTube
      = if !user_signed_in?
        %p.sign_in Admin Login

    #main_content
      #header
        %p= link_to "BetterBlog", root_path
        = if user_signed_in?
          .buttons
            %button.button= link_to "New post", new_post_path
            %button.button Log out
      = flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert")
      = yield